<section id="cta-697">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Begin Your Journey to Relief and Relaxation</h2>
            <a href="{{ client.locations[locationKey].onlineBooking }}" target="_blank" rel="noopener" class="cs-button-solid">Book Now</a>
        </div>
    </div>
    <!--SVG Waves Background-->
    <img class="cs-background" src="/assets/svgs/waves.svg" alt="wave graphic" width="1920" height="318" loading="lazy" decoding="async" aria-hidden="true">
</section>
                                
                                