<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-842">
    <div class="cs-container">
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <a aria-label="go back to home" class="cs-logo" href="/">
                <img class="cs-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/logo.svg" alt="logo" width="240" height="32">
            </a>
            <div class="cs-social">
                <a class="cs-social-link" aria-label="visit facebook profile" href="{{client.socials.facebook}}" target="_blank">
                    <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/facebook.svg" alt="facebook" width="11" height="11">
                </a>
            </div>
        </div>
        <!-- Links -->
        <div class="cs-ul-wrapper">
            <span class="cs-header">Quick Links</span>
            <ul class="cs-ul cs-ul-1">
                <li class="cs-li">
                    <a class="cs-link" href="/">Home</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/about/">About Us</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/locations/sutton-coldfield/">Sutton Coldfield</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/locations/nuneaton/">Nuneaton</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/locations/hinckley/">Hinckley</a>
                </li>
                 <li class="cs-li">
                    <a class="cs-link" href="/locations/glasgow/">Glasgow</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/locations/stratford-shrieves-walk/">Stratford Shrieves Walk</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/locations/stratford-henley-street/">Stratford Henley Street</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="cs-bottom">
        <span class="cs-credit">
             Designed by <a href="https://splendidsites.com/" class="cs-credit-link" target="_blank">Splendid Sites</a> © Copyright {% year %}
        </span>
    </div>
</footer>