
<section id="reviews-727">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Why Clients Love Nutcha Thai Massage</h2>
            <p class="cs-text">
                Discover why clients choose Nutcha Thai Massage for authentic treatments, professional service, and exceptional therapeutic results.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <svg class="cs-icon" viewBox="0 0 40 33" width="40" height="33" aria-hidden="true">
                    <g clip-path="url(#clip0_1_30)">
                        <path d="M9.17589 33H0L7.32198 0H22L9.17589 33Z"/>
                        <path d="M27.1759 33H18L25.322 0H40L27.1759 33Z"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_1_30">
                            <rect width="40" height="33" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
                <h3 class="cs-h3">OMG!</h3>
                <p class="cs-item-text">
                    Wow omg. I have been suffering with shoulder pain for the past 2 weeks. Was googling all places and this one had amazing reviews and now I know why. I had a deep tissue massage back neck & shoulder Thank you so much. I will be coming again for a full massage. Would recommend you guys. 👏🏼
                </p>
                <span class="cs-name">Saliam</span>
             </li>
             <li class="cs-item">
                <svg class="cs-icon" viewBox="0 0 40 33" width="40" height="33" aria-hidden="true">
                    <g clip-path="url(#clip0_1_30)">
                        <path d="M9.17589 33H0L7.32198 0H22L9.17589 33Z"/>
                        <path d="M27.1759 33H18L25.322 0H40L27.1759 33Z"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_1_30">
                            <rect width="40" height="33" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
                <h3 class="cs-h3">Incredible Experience!</h3>
                <p class="cs-item-text">
                    I've tried many deep tissue massages before, but none have come close to the incredible experience I had at Nutcha Thai Massage. I left feeling incredibly relaxed, rejuvenated, and pain-free. I highly recommend Nutcha Thai Massage to anyone seeking a truly transformative massage experience.
                </p>
                <span class="cs-name">John</span>
             </li>
        </ul>
    </div>
    <!-- Background Image-->
    <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="/assets/images/reviews-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/reviews.webp">
        <img loading="lazy" decoding="async" src="/assets/images/reviews.jpg" alt="lady receiving a massage" width="1920" height="1280" aria-hidden="true">
    </picture>
</section>