<!-- ============================================ -->
<!--                Why Choose Us                 -->
<!-- ============================================ -->

<section id="why-choose-1772">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Why Us</span>
            <h2 class="cs-title">Why Choose Nutcha Thai Massage</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture1">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/qualified.svg" alt="icon" width="32" height="32">
                </picture>
                <div class="cs-flex">
                    <h3 class="cs-h3">Expert Qualified Therapists</h3>
                    <p class="cs-item-text">
                        All our practitioners are professionally trained and certified, bringing years of experience in traditional Thai healing and wellness treatments.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture1">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/location.svg" alt="icon" width="72" height="72">
                </picture>
                <div class="cs-flex">
                    <h3 class="cs-h3">Multiple Convenient Locations</h3>
                    <p class="cs-item-text">
                        With locations across the Midlands and Scotland, we make authentic Thai massage accessible wherever you are in our service areas.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture1">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/thai.svg" alt="icon" width="72" height="72">
                </picture>
                <div class="cs-flex">
                    <h3 class="cs-h3">Authentic Thai Techniques</h3>
                    <p class="cs-item-text">
                        Our therapists are trained in traditional methods passed down through generations, ensuring you receive genuine Thai massage therapy.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture1">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/personalise.svg" alt="icon" width="72" height="72">
                </picture>
                <div class="cs-flex">
                    <h3 class="cs-h3">Personalised Treatments</h3>
                    <p class="cs-item-text">
                        Our therapists assess your individual needs and tailor treatments to address specific areas of tension, stress, and wellness goals.
                    </p>
                </div>
            </li>
        </ul>
    </div>
     <!-- Background Image-->
    <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="/assets/images/why-us-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/why-us.webp">
        <img loading="lazy" decoding="async" src="/assets/images/why-us.jpg" alt="cabinets" width="1920" height="1280" aria-hidden="true">
    </picture>
</section>