---
title: 'Contact | Code Stitch Web Designs'
description: 'Meta description for the page'
permalink: false
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
    <link rel="preload" as="image" href="{% getUrl "/assets/images/banner.jpg" | resize({width: 2560, height: 1136}) | avif %}">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">About</h1>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/banner-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/banner.webp">
        <img aria-hidden="true" decoding="async" src="/assets/images/banner.jpg" alt="massage" loading="eager" width="2500" height="1667">
    </picture>
</section>


<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-1388">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Contact Us</span>
            <h2 class="cs-title">Get in Touch</h2>
            <p class="cs-text">
                We are a team of passionate and creative individuals dedicated to crafting captivating designs that leave a lasting impression.
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    <picture class="cs-icon-wrapper">
                        <img aria-hidden="true" src="/assets/svgs/phone.svg" alt="phone icon" class="cs-icon" width="40" height="40" decoding="async">
                    </picture>
                    <div class="cs-flex-group">
                        <span class="cs-header">Phone</span>
                        <a href="tel:{{client.phoneForTel}}
                        " class="cs-link">{{client.phoneFormatted}}
                        </a>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-icon-wrapper">
                        <img aria-hidden="true" src="/assets/svgs/clock.svg" alt="address icon" class="cs-icon" width="40" height="40" decoding="async">
                    </picture>
                    <div class="cs-flex-group">
                        <span class="cs-header">Opening Hours</span>
                        <a href="{{client.address.mapLink}}" target="_blank" rel="noopener" class="cs-link">{{client.openingHours}}</a>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-icon-wrapper">
                        <img aria-hidden="true" src="/assets/svgs/pin.svg" alt="address icon" class="cs-icon" width="40" height="40" decoding="async">
                    </picture>
                    <div class="cs-flex-group">
                        <span class="cs-header">Address</span>
                        <a href="{{client.address.mapLink}}" target="_blank" rel="noopener" class="cs-link">{{client.address.lineOne}}, {{client.address.city}}, {{client.address.zip}}</a>
                    </div>
                </li>
            </ul>
        </div>
        <!--Form-->
        <form class="cs-form" id="cs-form-1403" name="Contact Form" method="post" data-netlify="true"><input type='hidden' name='form-name' value='Contact Form' />
            <h3 class="cs-h3">Make Appointment</h3>
            <label class="cs-label">
                Name
                <input class="cs-input" required type="text" id="name-1403" name="name" placeholder="Name">
            </label>
            <label class="cs-label cs-email">
                Email
                <input class="cs-input" required type="email" id="email-1403" name="email" placeholder="Email">
            </label>
            <label class="cs-label cs-phone">
                Phone
                <input class="cs-input" required type="number" id="phone-1403" name="phone" placeholder="Phone">
            </label>
            <label class="cs-label">
                Message
                <textarea class="cs-input cs-textarea" required name="Message" id="message-1403" placeholder="Write message..."></textarea>
            </label>
            <button class="cs-button-solid cs-submit" type="submit">Send Message</button>
        </form>
    </div>
</section>

<!-- ============================================ -->
<!--                    Map                       -->
<!-- ============================================ -->

<section id="map-1834">
    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/brown-pin.svg" alt="icon" decoding="async" width="52" height="52" aria-hidden="true">
    <div class="cs-background">
        <iframe loading="lazy" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2970.643306704404!2d-87.63703069895008!3d41.879020188115746!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2cb8d7b27921%3A0x52950a0fe30adc5f!2s71%20South%20Wacker!5e0!3m2!1sen!2sus!4v1712540404095!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <h2 class="cs-h2">
                    Main Branch
                </h2>
                <span class="cs-item-text">
                    No. 14 Av. Pierre Mendes, Usa 12245
                </span>
            </li>
            <li class="cs-item">
                <h2 class="cs-h2">
                    UK Branch
                </h2>
                <span class="cs-item-text">
                    334 Oakland Drive Brooklyn, NY 11218
                </span>
            </li>
            <li class="cs-item">
                <h2 class="cs-h2">
                    Japan Branch
                </h2>
                <span class="cs-item-text">
                    Chicago HQ Estica Cop. Macomb, MI 48042
                </span>
            </li>
            <li class="cs-item">
                <h2 class="cs-h2">
                    UK Branch
                </h2>
                <span class="cs-item-text">
                    334 Oakland Drive Brooklyn, NY 11218
                </span>
            </li>
            <li class="cs-item">
                <h2 class="cs-h2">
                    Japan Branch
                </h2>
                <span class="cs-item-text">
                    Chicago HQ Estica Cop. Macomb, MI 48042
                </span>
            </li>
            <li class="cs-item">
                <h2 class="cs-h2">
                    UK Branch
                </h2>
                <span class="cs-item-text">
                    334 Oakland Drive Brooklyn, NY 11218
                </span>
            </li>
        </ul>
    </div>
</section>
                                
                                
{% endblock %}