---
title: 'Droitwich Location | Nutcha Thai Massage'
description: "Thai massage in Droitwich since 2025. 3 treatment rooms, couples massage. Booking prefered, walk-ins welcome."
locationKey: 'droitwich'
preloadImg: '/assets/images/banner.webp'
permalink: 'locations/droitwich/'
eleventyNavigation:
    key: Droitwich 
    order: 3600
    parent: Locations
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/locations.css">
    <link rel="stylesheet" href="/assets/css/components.css">

    <!-- JSON Schema Markup for Location Page -->
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "{{ client.businessType }}",
            "@id": "{{ client.domain }}{{ page.url }}#business",
            "name": "{{ client.locations[locationKey].name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.locations[locationKey].phoneFormatted %}"telephone": "{{ client.locations[locationKey].phoneFormatted }}",{% endif %}
            {% if client.locations[locationKey].email %}"email": "{{ client.locations[locationKey].email }}",{% endif %}
            {% if client.priceRange %}"priceRange": "{{ client.priceRange }}",{% endif %}
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "{{ client.locations[locationKey].address.lineOne }}{% if client.locations[locationKey].address.lineTwo %}, {{ client.locations[locationKey].address.lineTwo }}{% endif %}",
                "addressLocality": "{{ client.locations[locationKey].address.city }}",
                "addressRegion": "{{ client.locations[locationKey].address.state }}",
                "postalCode": "{{ client.locations[locationKey].address.zip }}",
                "addressCountry": "{{ client.locations[locationKey].address.country }}"
            },
            "geo": {
                "@type": "GeoCoordinates",
                "latitude": "{{ client.locations[locationKey].geo.latitude }}",
                "longitude": "{{ client.locations[locationKey].geo.longitude }}"
            },
            "url": "{{ client.domain }}{{ page.url }}",
            "openingHoursSpecification": {
                "@type": "OpeningHoursSpecification",
                "dayOfWeek": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"],
                "opens": "10:00",
                "closes": "20:00"
            },
            "hasOfferCatalog": {
                "@type": "OfferCatalog",
                "name": "Thai Massage Services",
                "itemListElement": [
                    {
                        "@type": "Offer",
                        "itemOffered": {
                            "@type": "Service",
                            "name": "Head and Foot Reflexology"
                        }
                    },
                    {
                        "@type": "Offer", 
                        "itemOffered": {
                            "@type": "Service",
                            "name": "Relaxing Hot Oil Massage"
                        }
                    },
                    {
                        "@type": "Offer",
                        "itemOffered": {
                            "@type": "Service", 
                            "name": "Deep Tissue Massage"
                        }
                    },
                    {
                        "@type": "Offer",
                        "itemOffered": {
                            "@type": "Service",
                            "name": "Thai Traditional Massage"
                        }
                    },
                    {
                        "@type": "Offer",
                        "itemOffered": {
                            "@type": "Service",
                            "name": "Hot Stone Massage"
                        }
                    }
                ]
            },
            {% if client.locations[locationKey].onlineBooking and not client.locations[locationKey].onlineBooking.includes("placeholder") %}
            "potentialAction": {
                "@type": "ReserveAction",
                "target": {
                    "@type": "EntryPoint",
                    "urlTemplate": "{{ client.locations[locationKey].onlineBooking }}",
                    "actionPlatform": [
                        "http://schema.org/DesktopWebPlatform",
                        "http://schema.org/MobileWebPlatform"
                    ]
                },
                "result": {
                    "@type": "Reservation",
                    "name": "Massage Appointment"
                }
            },
            {% endif %}
            "areaServed": {
                "@type": "GeoCircle",
                "geoMidpoint": {
                    "@type": "GeoCoordinates",
                    "latitude": "{{ client.locations[locationKey].geo.latitude }}",
                    "longitude": "{{ client.locations[locationKey].geo.longitude }}"
                },
                "geoRadius": "{{ client.serviceRadius }}"
            },
            "sameAs": [
                "{{ client.locations[locationKey].socials.facebook }}"
            ]
        }
    </script>
    
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Expert Thai Massage in Droitwich</h1>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/banner-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/banner.webp">
        <img aria-hidden="true" decoding="async" src="/assets/images/banner.jpg" alt="massage" loading="eager" width="2500" height="1667">
    </picture>
</section>

<!-- ============================================ -->
<!--                  About Us                    -->
<!-- ============================================ -->

<section id="sbs-867">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image -->
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/locations/stratford-henley-street.jpg" | resize({width: 576, height: 800}) | avif %}" type="image/avif">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/locations/stratford-henley-street.jpg" | resize({width: 576, height: 800}) | webp %}" type="image/webp">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/locations/stratford-henley-street.jpg" | resize({width: 576, height: 800}) | jpeg %}" type="image/jpeg">
            <!--Tablet Image -->
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/locations/stratford-henley-street.jpg" | resize({width: 1100, height: 1433}) | avif %}" type="image/avif">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/locations/stratford-henley-street.jpg" | resize({width: 1100, height: 1433}) | webp %}" type="image/webp">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/locations/stratford-henley-street.jpg" | resize({width: 1100, height: 1433}) | jpeg %}" type="image/jpeg">
            <!--Desktop Image -->
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/locations/stratford-henley-street.jpg" | resize({width: 1260, height: 1550}) | avif %}" type="image/avif">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/locations/stratford-henley-street.jpg" | resize({width: 1260, height: 1550}) | webp %}" type="image/webp">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/locations/stratford-henley-street.jpg" | resize({width: 1260, height: 1550}) | jpeg %}" type="image/jpeg">
            <img src="{% getUrl "/assets/images/locations/stratford-henley-street.jpg" | resize({width: 1260, height: 1550}) | jpeg %}" alt="massage" width="630" height="775" loading="lazy" decoding="async" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Welcome</span>
            <h2 class="cs-title">About Nutcha Thai Massage Droitwich</h2>
            <p class="cs-text">
                Welcome to Nutcha Thai Massage Droitwich, our latest location which opened in 2025. We provide authentic Thai massage therapy to the local community, maintaining the same high standards of care and professional service across all our treatments.
            </p>
            <p class="cs-text">
                Our Droitwich location features three treatment rooms with 4 massage beds, including one couples massage room. We have three full-time practitioners. All our therapists hold VTCT Level 3 Thai Massage certification and have trained with recognised instructors. Walk-ins are welcome, with paid street parking available nearby, making it convenient to visit us for your massage treatment.
            </p>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                    Massages                  -->
<!-- ============================================ -->

<section id="services-877">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Massages</span>
            <h2 class="cs-title">Our Massage Treatments</h2>
            <p class="cs-text">
                Discover our comprehensive range of authentic Thai massage and wellness treatments, each designed to promote healing, relaxation, and restore your body's natural balance and well-being.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="{{client.locations[locationKey].onlineBooking}}" target="_blank" rel="noopener" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/foot.jpg" | resize({width: 576, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/foot.jpg" | resize({width: 576, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/foot.jpg" | resize({width: 576, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/foot.jpg" | resize({width: 634, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/foot.jpg" | resize({width: 634, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/foot.jpg" | resize({width: 634, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/foot.jpg" | resize({width: 828, height: 400}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/foot.jpg" | resize({width: 828, height: 400}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/foot.jpg" | resize({width: 828, height: 400}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/foot.jpg" | resize({width: 688, height: 480}) | jpeg %}" alt="Head and Foot Reflexology Massage" width="413" height="200" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Head and Foot Reflexology</h3>
                    <p class="cs-item-text">
                        <strong>30 Min £30</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>60 Min £50</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        Therapeutic technique applying precise pressure to reflex points on feet and head, corresponding to organs throughout the body. Promotes relaxation, improves circulation, and helps restore natural balance.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="{{client.locations[locationKey].onlineBooking}}" target="_blank" rel="noopener" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/oil.jpg" | resize({width: 576, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/oil.jpg" | resize({width: 576, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/oil.jpg" | resize({width: 576, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/oil.jpg" | resize({width: 634, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/oil.jpg" | resize({width: 634, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/oil.jpg" | resize({width: 634, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/oil.jpg" | resize({width: 828, height: 400}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/oil.jpg" | resize({width: 828, height: 400}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/oil.jpg" | resize({width: 828, height: 400}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/oil.jpg" | resize({width: 688, height: 480}) | jpeg %}" alt="Relaxing Hot Oil Massage" width="413" height="200" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Relaxing Hot Oil Massage</h3>
                    <p class="cs-item-text">
                        <strong>60 Min £60</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 Min £90</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        Gentle, flowing massage using warmed aromatherapy oils to ease muscle tension, enhance circulation, and deeply nourish skin. Perfect for stress relief and promoting restful sleep.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="{{client.locations[locationKey].onlineBooking}}" target="_blank" rel="noopener" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 576, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 576, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 576, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 634, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 634, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 634, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 828, height: 400}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 828, height: 400}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 828, height: 400}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 688, height: 480}) | jpeg %}" alt="massage" width="413" height="200" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Deep Tissue Massage</h3>
                    <p class="cs-item-text">
                        <strong>60 Min £60</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 Min £90</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        Focused therapeutic massage targeting deeper muscle layers and connective tissue, and using firm pressure and slow strokes to release chronic muscle tension and aid injury recovery effectively.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="{{client.locations[locationKey].onlineBooking}}" target="_blank" rel="noopener" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/full-body.jpg" | resize({width: 576, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/full-body.jpg" | resize({width: 576, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/full-body.jpg" | resize({width: 576, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/full-body.jpg" | resize({width: 634, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/full-body.jpg" | resize({width: 634, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/full-body.jpg" | resize({width: 634, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/full-body.jpg" | resize({width: 828, height: 400}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/full-body.jpg" | resize({width: 828, height: 400}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/full-body.jpg" | resize({width: 828, height: 400}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/full-body.jpg" | resize({width: 688, height: 480}) | jpeg %}" alt="full body massage" width="413" height="200" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Full Body Massage</h3>
                    <p class="cs-item-text">
                        <strong>60 Min £60</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 Min £90</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        Comprehensive massage treatment covering all major muscle groups from head to toe. Smooth, flowing strokes and moderate pressure promote total body relaxation and improved circulation.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="{{client.locations[locationKey].onlineBooking}}" target="_blank" rel="noopener" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/thai-massage.jpg" | resize({width: 576, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/thai-massage.jpg" | resize({width: 576, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/thai-massage.jpg" | resize({width: 576, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/thai-massage.jpg" | resize({width: 634, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/thai-massage.jpg" | resize({width: 634, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/thai-massage.jpg" | resize({width: 634, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/thai-massage.jpg" | resize({width: 828, height: 400}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/thai-massage.jpg" | resize({width: 828, height: 400}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/thai-massage.jpg" | resize({width: 828, height: 400}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/thai-massage.jpg" | resize({width: 688, height: 480}) | jpeg %}" alt="thai massage" width="413" height="200" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Thai Traditional Massage</h3>
                   <p class="cs-item-text">
                        <strong>60 Min £70</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 Min £110</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        Ancient healing art combining gentle stretching, deep pressure, and energy work for relaxation and balance. Improves flexibility, relieves muscle tension, and promotes overall well-being. rhythmic compression and guided movement techniques.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="{{client.locations[locationKey].onlineBooking}}" target="_blank" rel="noopener" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/couples-1.jpg" | resize({width: 576, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/couples-1.jpg" | resize({width: 576, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/couples-1.jpg" | resize({width: 576, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/couples-1.jpg" | resize({width: 634, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/couples-1.jpg" | resize({width: 634, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/couples-1.jpg" | resize({width: 634, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/couples-1.jpg" | resize({width: 828, height: 400}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/couples-1.jpg" | resize({width: 828, height: 400}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/couples-1.jpg" | resize({width: 828, height: 400}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/couples-1.jpg" | resize({width: 688, height: 480}) | jpeg %}" alt="massage" width="413" height="200" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Couples' Relaxing Hot Oil Massage</h3>
                     <p class="cs-item-text">
                        <strong>60 Min £110</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 Min £170</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        A harmonious experience where couples receive gentle, flowing massages with warmed aromatherapy oils simultaneously, promoting deep relaxation and connection in a dual treatment room.
                    </p>
                </a>
            </li>
             <li class="cs-item">
                <a href="{{client.locations[locationKey].onlineBooking}}" target="_blank" rel="noopener" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/couples-2.jpg" | resize({width: 576, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/couples-2.jpg" | resize({width: 576, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/couples-2.jpg" | resize({width: 576, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/couples-2.jpg" | resize({width: 634, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/couples-2.jpg" | resize({width: 634, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/couples-2.jpg" | resize({width: 634, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/couples-2.jpg" | resize({width: 828, height: 400}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/couples-2.jpg" | resize({width: 828, height: 400}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/couples-2.jpg" | resize({width: 828, height: 400}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/couples-2.jpg" | resize({width: 688, height: 480}) | jpeg %}" alt="massage" width="413" height="200" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Couples' Deep Tissue Massage</h3>
                     <p class="cs-item-text">
                        <strong>60 Min £120</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 Min £170</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        Tailored treatment for two, where skilled therapists work on deeper muscle layers using firm pressure to release chronic tension and promote healing for both partners.
                    </p>
                </a>
            </li>
             <li class="cs-item">
                <a href="{{client.locations[locationKey].onlineBooking}}" target="_blank" rel="noopener" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/couples-3.jpg" | resize({width: 576, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/couples-3.jpg" | resize({width: 576, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/couples-3.jpg" | resize({width: 576, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/couples-3.jpg" | resize({width: 634, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/couples-3.jpg" | resize({width: 634, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/couples-3.jpg" | resize({width: 634, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/couples-3.jpg" | resize({width: 828, height: 400}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/couples-3.jpg" | resize({width: 828, height: 400}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/couples-3.jpg" | resize({width: 828, height: 400}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/couples-3.jpg" | resize({width: 688, height: 480}) | jpeg %}" alt="massage" width="413" height="200" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Couples' Thai Traditional Massage</h3>
                     <p class="cs-item-text">
                        <strong>60 Min £130</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 Min £190</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        Tailored treatment for two, where skilled therapists work on deeper muscle layers using firm pressure to release chronic tension and promote healing for both partners.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="{{client.locations[locationKey].onlineBooking}}" target="_blank" rel="noopener" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hot-stone.jpg" | resize({width: 576, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hot-stone.jpg" | resize({width: 576, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hot-stone.jpg" | resize({width: 576, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/hot-stone.jpg" | resize({width: 634, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/hot-stone.jpg" | resize({width: 634, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/hot-stone.jpg" | resize({width: 634, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/hot-stone.jpg" | resize({width: 828, height: 400}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/hot-stone.jpg" | resize({width: 828, height: 400}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/hot-stone.jpg" | resize({width: 828, height: 400}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/hot-stone.jpg" | resize({width: 688, height: 480}) | jpeg %}" alt="massage" width="413" height="200" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Hot Stone Massage</h3>
                     <p class="cs-item-text">
                        <strong>60 Min £70</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 Min £100</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        Luxurious treatment using heated basalt stones placed on key body points. Therapeutic heat penetrates deep into muscles, promoting profound relaxation whilst alleviating tension.
                    </p>
                </a>
            </li>
        </ul>
        <a href="{{client.locations[locationKey].onlineBooking}}" target="_blank" rel="noopener" class="cs-button-solid">Book A Massage</a>
    </div>
</section> 

<!-- ============================================ -->
<!--                Why Choose Us                 -->
<!-- ============================================ -->
                                
{% include 'components/why-choose-1772.html' %} 

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<!--<section id="reviews-607">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Real Client Experiences</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <svg class="cs-icon" viewBox="0 0 40 33" width="40" height="33" aria-hidden="true">
                    <g clip-path="url(#clip0_1_30)">
                        <path d="M9.17589 33H0L7.32198 0H22L9.17589 33Z"/>
                        <path d="M27.1759 33H18L25.322 0H40L27.1759 33Z"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_1_30">
                            <rect width="40" height="33" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
                <h3 class="cs-h3">Best Ever!</h3>
                <p class="cs-item-text">
                    Best massage ever. I lived in Thailand for many years and it was the first Thai massage I’ve received in the uk that was actually a Thai massage. I left on a floating cloud. If you are stress they get those knots out and ease those muscles you so desperately need sorting. They really restore your body and you leave feeling amazing. I swear she took a few years of my back.
                </p>
                <span class="cs-name">Alex Michelli</span>
            </li>
            <li class="cs-item">
                <svg class="cs-icon" viewBox="0 0 40 33" width="40" height="33" aria-hidden="true">
                    <g clip-path="url(#clip0_1_30)">
                        <path d="M9.17589 33H0L7.32198 0H22L9.17589 33Z"/>
                        <path d="M27.1759 33H18L25.322 0H40L27.1759 33Z"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_1_30">
                            <rect width="40" height="33" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
                <h3 class="cs-h3">Highly Recommended!</h3>
                <p class="cs-item-text">
                    I came to Stratford from London for a wedding, and after a long day at work needed a massage. This place was able to accommodate a last minute home visit appointment. The massage therapist Sri was very good, I would highly recommend her! Would use again next time I am here!
                </p>
                <span class="cs-name">Helen Crockett</span>
            </li>
            <li class="cs-item">
                <svg class="cs-icon" viewBox="0 0 40 33" width="40" height="33" aria-hidden="true">
                    <g clip-path="url(#clip0_1_30)">
                        <path d="M9.17589 33H0L7.32198 0H22L9.17589 33Z"/>
                        <path d="M27.1759 33H18L25.322 0H40L27.1759 33Z"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_1_30">
                            <rect width="40" height="33" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
                <h3 class="cs-h3">Relaxing Experience!</h3>
                <p class="cs-item-text">
                    My wife and I had a massage each in the warm, comfortable double room at the same time. Both massage therapists checked what we wanted and got to it. I chose a Thai massage, which consisted of a lot of pulling and pressure spot pushing, but worked to release tension in my neck and shoulder. Booking was conveniently done over text and price agreed which was very well priced! Thank you for a relaxing experience.
                </p>
                <span class="cs-name">Terry</span>
            </li>
        </ul>
        <a href="{{ client.locations[locationKey].googleReview }}" target="_blank" rel="noopener" class="cs-button-solid">Leave Review</a>
    </div>
</section>-->

<!-- ============================================ -->
<!--                Why Choose Us                 -->
<!-- ============================================ -->
                                
{% include 'components/contact-1403.html' %} 


<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->
                                
{% include 'components/cta-697.html' %} 

{% endblock %}